body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: $color-grey-dark;
    line-height: 1.7;
}

.heading-secondary {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-black;
}

.heading-tertiary{
    font-size: 1.5rem;
}

.heading-quaternary {
    font-size: 1rem;
}
