.u-center-text {
    text-align: center !important;
}


.u-margin-b-xs {
    margin-bottom: 1rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;

}

.u-margin-top-xsmall {
    margin-top: 2rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

.u-width-full {
    width: 100%;
}

.u-width-50 {
    width: calc(#{$grid-width}/2);
}

.u-display-ib {
    display: inline-block;
}

.u-display-b {
    display: block;
}

.u-display-n {
    display: none !important;
}

.u-urgent {
    color: $color-red !important;
}

.u-high {
    color: $color-orange !important;
}

.u-normal {
    color: $color-primary !important;
}

.u-bold {
    font-weight: bold !important;
}

.u-margin-l {
    margin-left: .3rem;
}

.u-margin-r {
    margin-right: .5rem;
}

.u-mr-s {
    margin-right: 1rem;
}

.u-float-r {
    float: right;
}

.u-w-70 {
    width: 100% !important;
}

.u-padding-big{
    padding: 1.5rem;
}
