.incomplete {

    &__header-primary {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &__flex-spacebetween{
        display: flex;
        padding: 10px 2px 10px 2px;
        justify-content:  space-between;
    }

    &__flex{
        display: flex;
        justify-content: center;
    }

    &__right {
        padding: 3rem;
    }
}
