.container--login {
    position: relative;
}



.banner {
    height: 55vh;
    background-image: url('/images/matina2.jpg');
    background-size: cover;
    background-position:bottom;
}

.login {
    width: 20%;
    margin: 2rem auto 0 auto;

    &__form {
        background-color: white;
        padding: 2rem;
        box-shadow: 0 0 1rem rgba($color-black,.2);
    }
}
