.side {
    background-color: $color-white;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: $shadow-light;
    -webkit-user-select: none;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-menu-active;
        color: $color-white;
        padding: 0 1rem;
    }

    &__content {
        padding: 1rem 1rem;
    }

    &__dt {
        font-size: $default-font-size;
        text-transform: capitalize;
        font-weight: 700;
    }

    &__dd{
        font-size: $medium-font-size;
        padding-left: 2rem;
    }
}
