.search {
    width: 70%;
    margin: 0 auto;

    &__header {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    &__item {

        &,
        &:visited,
        &:link{
            text-decoration: none;
            display: block;
            margin-left: 6rem;
        }

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    &__label {
        font-size: 1.8rem;
        font-weight: 700;
        color: $color-blue-light-1;
    }

    &__details {
        width: 80%;
        font-size: 1.3rem;
        line-height: 1.4;
        color: $color-grey-dark-3;
    }

    &__error {
        display: block;
        text-align: center;
        margin: 0 auto;
        color: rgba($color-grey-dark,.6);
    }
}
