/public/css/app.css
/public/js/app.js
/public/assets/css/sass.comp.css
/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.css
/public/assets/css/sass.comp.css
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.phpunit.result.cache
