.btn {
    &,
    &:link,
    &:visited
    {
        text-transform: uppercase;
        display: inline-block;
        padding: 5.6px 10.5px;
        font-size: 1rem;
        text-decoration: none;
        border-radius: 3px;
        font-weight: 400;
        position: relative;
        z-index: 1;
        border: none;
        cursor: pointer;
        outline: none;
    }

    &--blue {
        background-color: #6d869a;
        color: $color-white;

    }

    &--green {
        background-color: $color-primary;
        color: $color-white;
    }

    &--red {
        background-color: $color-red;
        color: $color-white;
    }



    &--animated {
        animation: toTop .8s ease-out 1s backwards;

    }

    &--add {
        font-size: $default-font-size;
        text-transform: capitalize;
        padding: 5.6px 10.5px;
        margin-right: 1rem;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 100px;
        z-index: -1;
        opacity: 1;
        transition: all .3s;
    }

    &:hover {
        transform: translateY(-1px);
        //box-shadow: 0 .5rem 1.5rem rgba($color-black,.2);

    }

    &:hover &--white {
        transform: scale(1.5);
    }

    &:active{
        transform: translateY(0);
        //box-shadow: 0 .5rem 1.5rem rgba($color-black, .2);
    }


}

.learn {

    &:link,
    &:visited {
        color: $color-primary;
        text-decoration: none;
        font-size: $default-font-size;
        border-bottom: 1px solid $color-primary;
        padding: .5rem .2rem;
        display: inline-block;
        transition: all .2s;
    }

    &:hover {
        color: $color-white;
        background-color: $color-primary;
        transform: translateY(-.5rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.1);
    }
}

.sprite {
    position: relative;
    height: 2rem;
    width: 2rem;
    fill: $color-grey-dark;
    cursor: pointer;
    z-index: 1;
    & use {
        position: relative;
        z-index: 10;
    }
    &--red {
        fill: $color-red;
    }

    &--blue {
        fill: $color-blue-light-1;
    }
}
