.fieldset {
    padding: 1rem;
    &__legend {
        font-size: 1.4rem;
        padding: .5rem;
    }

    &__contact {
        flex: 1 0;
    }

    &__contact-inputs {
        width: 60%;
        margin-left: 1rem;
    }

}
