.table {
    width: 100%;
    font-size: $default-font-size;
    //border: 2px solid $color-grey-light-3;
    border-collapse: collapse;
    box-shadow: 0 0 1rem rgba($color-black,.4);
    border-radius: 3px;
    margin: 1rem 0;
    &__thead {
        background-color: $color-grey-light-3;
    }

    &__tbody {

        & > tr {
            border-top: none;

            &:not(:last-child) {
                border: 1px solid $color-grey-light-3;
            }

            & td:first-child {
                padding: 1rem;
            }

            & td:not(:first-child){
                text-align: center;
            }

        }

    }

    &__tbody td:first-child:hover &__subject{
        text-decoration: underline;
    }

    &__th:first-child {
        text-align: left;
    }


    &__th {
        padding: .5rem 1.5rem;

        &--ticket {
            width: 50%;
        }
    }

    &__subject {


        &,
        &:visited,
        &:link {
            display: block;
            color: $color-blue-light-1;
            font-size: $large-font-size;
            text-decoration: none;
        }
    }

    &__info {
        display: inline-block;
        background-color: rgba($color-grey-dark-2,.4);
        border-radius: 100px;
        padding: 0 4px;
        &--red {
            color: $color-red;
        }
    }

    &__status {
        font-weight: 700;
        &--normal {
            color: $color-primary-dark;
        }
    }


}
