.window {

    width: 80%;
    background-color: $color-white;
    box-shadow: $shadow-light;

    &__title-box {
        background-color: $color-grey-light-2;
        padding: 3px;
    }

    &__content {
        padding: 1rem;
        display: none;
    }

    &__menu {
        display: flex;
        background-color: $color-grey-light-2;
        list-style: none;
        border-top: 1px solid $color-grey-dark-2;
        border-bottom: 1px solid $color-grey-dark-2;
    }

    &__item {
        padding:.5rem;
        cursor: pointer;

        &--active {
            background-color: $color-grey-dark-2;
        }
    }

    &__checkbox {
        //display: none;
    }

}
