// COLORS
$color-global: rgb(52,56,62);

$color-menu-active: #4e5d6d;

$color-primary: #6f9a43; /*PRIORITY*/
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e5e5e5;
$color-grey-light-3: #bebebe;
$color-grey-dark: #777;

$color-grey-dark-2: #c8c8c8;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-blue-light-1: #6790ff;

$color-red: #ff3b2f; /*PRIORITY*/

$color-orange: #ffa500; /*PRIORITY*/

// FONT
$default-font-size: 1.2rem;
$small-font-size: 1rem;
$medium-font-size: 1.1rem;
$large-font-size: 1.5rem;

$form-default-size: 1.6rem;

// GRID
$grid-width: 136.6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-xsmall: 3rem;
$gutter-horizontal: 1rem;
$gutter-horizontal-small: 3rem;

/*BOX SHADOW*/
$shadow-light: 0 0 1rem rgba($color-black,.4);

/*BORDER RADIUS*/
$border-radius-small: 3px;
$border-50: 30%;

/*PADDING*/
$padding-default : 1rem;
$padding-default-s : .5rem;
$padding-default-xs : .2rem;
$padding-default-l : 1rem;
