.row-flex {
    display: flex;

    &--wrap {
        flex-wrap: wrap;
    }

    &--ai-fe{
        align-items: flex-end;
    }

    &--jc-sb{
        justify-content: space-between;
    }

    &--jc-sa{
        justify-content: space-around;
    }
}
