
.form{
    padding: 1rem;
    font-size: 1.3rem;

    &__radio {
        margin-right: .5rem;
    }

    &__textarea {
        width: 100%;
    }

    &__group {
        position: relative;

        &--login {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
            background-color: $color-grey-dark-2;
            z-index: 1;
        }

        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }

    &__group-flex {
        display: flex;
        align-items: center;
    }


    &__icon {
        text-align: center;
        width: 25%;
        align-self: center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        font-size: 2rem;
        color: $color-grey-dark-3;
    }


    &__input {
        font-size: $medium-font-size;
        padding: .5rem;
        color: inherit;
        font-family: inherit;
        border: 1px solid $color-grey-light-2;


        &--100w {
            width: 100%;
        }

        &--checkbox {
            vertical-align: middle;
        }

        &--textarea{
            resize: none;
            display: block;
            width: 100%;
            height: 8rem;
            min-width: 15rem;
            margin: .5rem 0;
        }




    }

    &__input-select {
        color: currentColor;
        padding: .2rem;
        border: 1px solid $color-grey-light-2;
    }

    &__input-text{
        border: 1px solid $color-grey-light-2;
        font-size: $medium-font-size;
        color: currentColor;
        padding: .5rem;

        &::-webkit-input-placeholder {
            color: $color-grey-light-3;
        }
    }

    &__label {
        font-size: $medium-font-size;
        margin-right: 3px;
        &--block {
            display: block;
        }
    }

    &__search {
        padding: .5rem;
        padding-left: 2.5rem;
        border-radius: 10rem;
        border: none;
        text-align: left;
    }


    &__text {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;



        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid{
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__label-text {
        position: absolute;
        top: 1.5rem;
        left: 2rem;
        transform: translateY(4rem);
        transition: all .3s;
    }

    &--search {
        display: inline-block;
        &__icon {
            cursor: pointer;
            font-size: $default-font-size;
            position: relative;
            left: 2rem;
        }
    }
}


.form-callerAdd,
.form-departmentAdd,
.form-contactAdd,
.form-branchAdd,
.form-positionAdd{

    &__button {
        &,
        &:link,
        &:visited
        {
            text-transform: uppercase;
            display: inline-block;
            padding: 5.6px 10.5px;
            font-size: 1rem;
            text-decoration: none;
            border-radius: 3px;
            font-weight: 400;
            position: relative;
            z-index: 1;
            border: none;
            cursor: pointer;
            background-color: $color-white;
        }
    }

    &__content-box {
        border: 1px solid $color-grey-light-3;
        padding: 1.5rem 1rem 1rem 1rem;
        transform: translateY(-1rem);
    }

}

.form-fix {
    padding: .5rem .5rem;
    background-color: $color-white;
}


.form-ticketFilter {
    font-size: 1.2rem;


    &__group {
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 1rem;
        }

        &:last-child .btn {
            margin-right: 3px;
        }
    }

    &__label {
        flex: 0 0 20%;
    }

    &__input {
        padding: 3px;
        border: none;
        color: currentColor;
    }
}

.form-email {
   width: 100%;
    font-size: 1.2rem;

    &__input-text {
        border: none;
        font-size: inherit;
        padding: .5rem;
        outline: none;


        &:not(:last-child) {
            border-bottom: 1px solid rgba($color-grey-light-2,.8);
        }
    }

    &__input-textarea{
        display: block;
        border: none;
        font-size: inherit;
        font-family: inherit;
        padding: .5rem;
        width: 100%;
        outline: none;
        resize: none;
    }

    &__input-select {
        border: none;
        background-color: $color-grey-light-2;
        color: $color-grey-dark-3;
        padding: .5rem;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

 }


.form-addTicketDetails {
    &__ticket {
        font-size: 1.7rem;
        font-weight: 700;
        display: block;
        text-align:left;
        background-color: rgba($color-grey-dark,.3);
        padding: .2rem .5rem;
    }

    &__ticket-value {
        font: inherit;
        color: currentColor;
        display: inline-block;
        border: none;
        background-color: transparent;
        outline: none;
    }
}

.reject {
    padding: 1rem;

    &__reason {
        width: 100%;
        resize: none;

    }
}

.extend-form {
    padding: 1rem;
}
