
.form{

    &__group {
        position: relative;

        &--login {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
            background-color: $color-grey-dark-2;
            z-index: 1;
        }

        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }

    &__icon {
        text-align: center;
        width: 25%;
        align-self: center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        font-size: 2rem;
        color: $color-grey-dark-3;
    }


    &__input {
        font-size: $medium-font-size;
        padding: .5rem;
        color: inherit;
        font-family: inherit;
        border: 1px solid $color-grey-light-2;


        &--100w {
            width: 100%;
        }

        &--checkbox {
            vertical-align: middle;
        }

        &--textarea{
            resize: none;
            display: block;
            width: 100%;
            min-height: 10rem;
            min-width: 15rem;
            margin: .5rem 0;
        }


    }

    &__label {
        font-size: $medium-font-size;
        margin-right: 3px;
        &--block {
            display: block;
        }
    }

    &__search {
        padding: .5rem;
        padding-left: 2.5rem;
        border-radius: 10rem;
        border: none;
        text-align: left;
    }


    &__text {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;



        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid{
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__label-text {
        position: absolute;
        top: 1.5rem;
        left: 2rem;
        transform: translateY(4rem);
        transition: all .3s;
    }

    &--search {
        display: inline-block;
        &__icon {
            cursor: pointer;
            font-size: $default-font-size;
            position: relative;
            left: 2rem;
        }
    }
}


.form-callerAdd,
.form-branchAdd{

    &__button {
        &,
        &:link,
        &:visited
        {
            text-transform: uppercase;
            display: inline-block;
            padding: 5.6px 10.5px;
            font-size: 1rem;
            text-decoration: none;
            border-radius: 3px;
            font-weight: 400;
            position: relative;
            z-index: 1;
            border: none;
            cursor: pointer;
            background-color: $color-white;
        }
    }

    &__content-box {
        border: 1px solid $color-grey-light-3;
        padding: 1.5rem 1rem 1rem 1rem;
        transform: translateY(-1rem);
    }

}

.form-resolve {
    padding: .5rem .5rem;
    background-color: $color-white;
}
