.row-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 0;

}

.container {
    background-color: $color-grey-light-2;
    height: 100vh;
}
