
.container {
    background-color: $color-grey-light-2;
    min-height: 100vh;
}

.group {

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

main {
    padding: 1rem;
}


.form-container {
    padding: 1.5rem;
}

